<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reports</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='open-iconic-master/font/css/open-iconic-bootstrap.css' rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="js/datahandler.js"></script>

    <style>
        body {
            overflow: hidden;
        }

        .input {
            width: 100%;
        }

        .loader_container {
            width: 100%;
            height: 100%;
            min-height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .loader {
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 80px;
            height: 80px;
            animation: spin 2s linear infinite;
        }

        .button-filter-container {
            margin-top: 10px;
            margin-bottom: 10px;

        }

        .button-filter {
            height: 30px;
        }

        .button-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        .button-view {
            margin-right: 10px;
        }


        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>

    <div class="sidenav" id="header">
        <div class="sidenav-item">
            <img class="nav-image" src="resources/images/logo.png" />
        </div>
        <div class="sidenav-item active">
            <a href="#reports-panel">
                <div class="icon-block">
                    <i class="material-icons">assessment</i>
                    <h5 class="center">Reports</h5>
                </div>
            </a>
        </div>
        <div class="sidenav-item" v-if="user.type == 'ADMIN'">
            <a href="users.html">
                <div class="icon-block">
                    <i class="material-icons">group</i>
                    <h5 class="center">Users</h5>
                </div>
            </a>
        </div>
        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="container" id="content">

        <h1>Reports</h1>
        <div class="loader_container" v-if="isDataLoading">
            <div class="loader"></div>
        </div>

        <div class="section" v-if="!isDataLoading">
            <div class="well input-container" style="padding:10px; width: 100%; min-height: 70px">
                <div class="col col-md-2">
                    <p class="input-label">year</p>
                    <select id="input-type" class="input input-select" v-model="filter.year">
                        <option v-for="(item,index) in selections.years"
                            :selected="index == filter.year ? true : false">{{item
                                    ? item : "NOT AVAILABLE"}}</option>
                    </select>
                </div>
                <div class="col col-md-2">
                    <p class="input-label">month</p>
                    <select id="input-type" class="input input-select" v-model="filter.month">
                        <option v-for="(item,index) in selections.months"
                            :selected="index == filter.month ? true : false">
                            {{item}}</option>
                    </select>
                </div>
                <div class="col col-md-2">
                    <p class="input-label">stations</p>
                    <select id="input-district" class="input input-select" v-model="filter.station">
                        <option v-for="(item,index) in selections.stations"
                            :selected="index == filter.station ? true : false">
                            {{item}}</option>
                    </select>
                </div>
                <div class="col col-md-3 button-filter-container">
                    <button type="button" class="btn btn-warning button-view button-filter"
                        v-on:click="filterList()">filter
                    </button>
                </div>

            </div>
            <div class="button-container">
                <button type="button" class="btn btn-info button-view" v-on:click="openAddReport()">add
                    report
                </button>
                <button type="button" class="btn btn-info button-view" v-on:click="openGenerateReport()">
                    generate
                    report
                </button>
            </div>
            <div class="table-container">
                <div class="table" id="tableData">
                    <div class="well" v-for="item,index in reports_view">
                        <div class="row">
                            <div class="col col-md-3 item-info " v-for="info,index in Object.keys(item)">
                                <p class="item-label">{{info.replace(/_/g,' ') +": "}}</p>
                                <p class="item-value">{{item[info] ? item[info] : 'N/A'}}</p>
                            </div>
                            <div class="col col-md-12">
                                <button class="btn btn-default btn-info" v-on:click="editItem(index)">edit</button>
                                <button class="btn btn-default btn-danger"
                                    v-on:click="deleteItem(index)">delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var user = null
        var app

        var header = new Vue({
            el: '#header',
            data: {
                user: null
            },
            methods: {
                onStart() {
                    try {
                        user = JSON.parse(sessionStorage.getItem('user'))
                        if (typeof user != 'string' && user) {
                            console.log(user)
                            this.user = user
                            app.fetchReports()
                        } else {
                            alert('login user account')
                            this.onLogout()
                        }
                    } catch (error) {
                        alert('login user account')
                        this.onLogout()
                    }
                },
                onLogout() {
                    sessionStorage.clear()
                    window.open('login.html', '_self')
                }
            }
        })

        $(document).ready(() => {
            header.onStart()
        })


        app = new Vue({
            el: '#content',
            data: {
                reports: [],
                reports_view: [],

                selections: {
                    years: ['all'],
                    months: [
                        'all',
                        'JANUARY',
                        'FEBRUARY',
                        'MARCH',
                        'APRIL',
                        'MAY',
                        'JUNE',
                        'JULY',
                        'AUGUST',
                        'SEPTEMBER',
                        'OCTOBER',
                        'NOVEMBER',
                        'DECEMBER',
                    ],
                    stations: ['all']
                },

                filter: {
                    year: 'all',
                    month: 'all',
                    station: 'all'
                },

                isDataLoading: true,

                header: []
            },
            methods: {
                fetchReports() {
                    this.setLoading(true)
                    DataHandler.getReports().then((reports) => {
                        this.setData(reports)
                    }).catch(error => {
                        console.log(error)
                    }).finally(() => {
                        this.setLoading(false)
                    })
                },

                setData: function (data) {
                    console.log("data %o", data)
                    if (data.length > 0) {
                        this.header = Object.keys(data[0])
                        this.reports = data
                        this.reports_view = this.reports
                        this.getDistinctParams()
                    }
                },

                getDistinctParams() {
                    this.selections.years = ['all']
                    this.selections.stations = ['all']

                    this.reports.map((report) => {
                        let date = report.DATE_CREATED.split('-')
                        var year = date[0]
                        var month = date[1]

                        if (!this.selections.years.includes(year)) {
                            this.selections.years.push(year)
                        }

                        if (!this.selections.stations.includes(report.STATION)) {
                            this.selections.stations.push(report.STATION)
                        }

                    })
                },

                setLoading(isLoading) {
                    this.isDataLoading = isLoading
                },

                filterList() {
                    //year
                    this.reports_view = this.reports.filter((item) => {
                        let item_year = item.DATE_CREATED.split('-')[0]
                        if (!this.filter.year || this.filter.year == 'all' || this.filter.year ==
                            item_year) {
                            return true
                        } else {
                            return false
                        }
                    })
                    //month
                    this.reports_view = this.reports_view.filter((item) => {
                        let item_month = item.DATE_CREATED.split('-')[1]
                        let index_selection_month = this.selections.months.indexOf(this.filter.month)

                        if (!this.filter.month || this.filter.month == 'all' || item_month ==
                            index_selection_month) {
                            return true
                        } else {
                            return false
                        }
                    })

                    //district
                    this.reports_view = this.reports_view.filter((item) => {
                        if (!this.filter.station || this.filter.station == 'all' || this.filter
                            .station == item.STATION) {
                            return true
                        } else {
                            return false
                        }
                    })

                    console.log("filtered %o", this.reports_view)
                },

                deleteItem(index) {
                    let id = this.reports_view[index].ID
                    let onConfirm = confirm(`delete item id: ${id}`)
                    if (onConfirm) {
                        DataHandler.deleteReport(id).then((data) => {
                            console.log('response %o', data)
                            if (data.error) {
                                alert("error " + data.error)
                            } else {
                                alert("item deleted successfuly")
                                this.fetchReports()
                            }
                        })
                    }
                },

                editItem(index) {
                    let report = this.reports_view[index]
                    sessionStorage.setItem('edit', JSON.stringify(report))
                    sessionStorage.setItem('reports', JSON.stringify(this.reports))
                    window.open('reports_edit.html', '_self')
                },

                openGenerateReport() {
                    sessionStorage.setItem('reports', JSON.stringify(this.reports))
                    window.open('reports_generate.html', '_self')
                },

                openAddReport() {
                    sessionStorage.setItem('reports', JSON.stringify(this.reports))
                    window.open('reports_add.html', '_self')
                }


            }
        })
    </script>

</body>

</html>