<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reports</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='open-iconic-master/font/css/open-iconic-bootstrap.css' rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="js/datahandler.js"></script>

    <style>
        .input {
            width: 100%;
        }

        .input-item {
            margin-bottom: 10px;
        }

        .input-value {
            height: 30px;
        }

        .loader_container {
            width: 100%;
            height: 100%;
            min-height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .loader {
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 80px;
            height: 80px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div class="sidenav" id="header">
        <div class="sidenav-item">
            <img class="nav-image" src="resources/images/logo.png" />
        </div>
        <div class="sidenav-item active">
            <a href="#reports-panel">
                <div class="icon-block">
                    <i class="material-icons">assessment</i>
                    <h5 class="center">Reports</h5>
                </div>
            </a>
        </div>
        <div class="sidenav-item" v-if="user.type == 'ADMIN'">
            <a href="users.html" >
                <div class="icon-block">
                    <i class="material-icons">group</i>
                    <h5 class="center">Users</h5>
                </div>
            </a>
        </div>
        <div class="sidenav-item">
            <a v-on:click="onLogout()">
                <div class="icon-block">
                    <i class="material-icons">close</i>
                    <h5 class="center">Log Out</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="container" id="content">
        <div class="header-content">
            <button class="btn header-btn" v-on:click="onBack()">
                <i class="large material-icons">arrow_back</i>
            </button>
            <h1 class="header-title">Add Reports</h1>
        </div>

        <div class="section">

            <div class="input-container col-md-6">
                <p>Station</p>
                <select id="input-alarm" class="input input-item input-value" v-model="data_input.station">
                    <option v-for="(item,index) in selections.stations"
                        :selected="item == data_input.station ? true : false">{{item}}</option>
                </select>
            </div>

            <div class="input-container col-md-6">
                <p>Date</p>
                <input type="date" class="input input-item input-value" v-model="data_input.date">
            </div>

            <div class="input-container col-md-6">
                <p>PH</p>
                <input type="number" class="input input-value" v-model="data_input.ph">
            </div>

            <div class="input-container col-md-6">
                <p>AMMONIA TOTAL MGL N</p>
                <input type="number" class="input input-value" v-model="data_input.ammonia">
            </div>

            <div class="input-container col-md-6">
                <p>NITRATE TOTAL MGLASN</p>
                <input type="number" class="input input-value" v-model="data_input.nitrate">
            </div>

            <div class="input-container col-md-6">
                <p>INORGANIC PHOSPHATE</p>
                <input type="number" class="input input-value" v-model="data_input.phosphate">
            </div>

            <div class="input-container col-md-6">
                <p>BOD</p>
                <input type="number" class="input input-value" v-model="data_input.bod">
            </div>
            <div class="input-container col-md-6">
                <p>DISSOLVED OXYGEN MGL</p>
                <input type="number" class="input input-value" v-model="data_input.dissolved">
            </div>

            <div class="input-container col-md-6">
                <p>FECAL COLIFORMS</p>
                <input type="number" class="input input-value" v-model="data_input.fecal">
            </div>

            <div class="input-container col-md-6">
                <p>WATER QUALITY INDEX </p>
                <select id="input-alarm" class="input input-value" v-model="data_input.water_quality">
                    <option v-for="(item,index) in selections.qualities"
                        :selected="item == data_input.water_quality ? true : false">{{item}}</option>
                </select>
            </div>
            <div class="input-container col-md-4">
                <button class="btn btn-default btn-success col-xs-12" v-on:click="saveReport()">Save</button>
            </div>

        </div>


    </div>

    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script>
        var user = null
        var app

        var header = new Vue({
            el: '#header',
            data: {
                user: null
            },
            methods: {
                onStart() {
                    try {
                        user = JSON.parse(sessionStorage.getItem('user'))
                        console.log(user)
                        if (typeof user != 'string') {
                            console.log('success')
                            this.user = user
                            app.fetchReports()
                        } else {
                            alert('login user account')
                            this.onLogout()
                        }
                    } catch (error) {
                        alert('login user account')
                        this.onLogout()
                    }

                },
                onLogout() {
                    sessionStorage.clear()
                    window.open('login.html', '_self')
                }
            }
        })

        app = new Vue({
            el: '#content',
            data: {
                reports: [],
                data_input: {
                    station: null,
                    date: null,
                    ph: null,
                    ammonia: null,
                    nitrate: null,
                    phosphate: null,
                    bod: null,
                    dissolved: null,
                    fecal: null,
                    water_quality: null
                },
                selections: {
                    stations: [],
                    qualities: []
                },
            },
            methods: {
                fetchReports() {
                    this.setLoading(true)
                    let reports = sessionStorage.getItem('reports')
                    if (reports) {
                        this.setData(JSON.parse(reports))
                    } else {
                        DataHandler.getReports().then((reports) => {
                            console.log(reports)
                            this.setData(reports)
                        }).catch(error => {
                            console.log(error)
                        }).finally(() => {
                            this.setLoading(false)
                        })
                    }
                },

                setData: function (data) {
                    console.log("data %o", data)
                    if (data.length > 0) {
                        this.reports = data
                        this.getDistinctParams()
                    }
                },

                getDistinctParams() {
                    this.reports.map((report) => {
                        if (!this.selections.qualities.includes(report.WATER_QUALITY_INDEX)) {
                            this.selections.qualities.push(report.WATER_QUALITY_INDEX)
                        }

                        if (!this.selections.stations.includes(report.STATION)) {
                            this.selections.stations.push(report.STATION)
                        }
                    })
                },

                setLoading(isLoading) {
                    this.isDataLoading = isLoading
                },

                saveReport() {

                    let report = {
                        AMMONIA_TOTAL_MGL_N: this.data_input.ammonia,
                        BOD: this.data_input.bod,
                        DATE_CREATED: this.data_input.date,
                        DISSOLVED_OXYGEN_MGL: this.data_input.dissolved,
                        FECAL_COLIFORMS: this.data_input.fecal,
                        INORGANIC_PHOSPHATE: this.data_input.phosphate,
                        NITRATE_TOTAL_MGLASN: this.data_input.nitrate,
                        PH: this.data_input.ph,
                        STATION: this.data_input.station,
                        USERID: user.id,
                        WATER_QUALITY_INDEX: this.data_input.water_quality,
                    }

                    DataHandler.saveReport(report).then((data) => {
                        console.log("response %o", JSON.stringify(data))
                        if (data.error) {
                            alert(`Failed saving new report ${data.error}`)
                        } else {
                            alert(`New Report Has Been Successfuly added`)
                            let onConfirm = confirm('Create New Report?')
                            if (onConfirm) {
                                this.data_input = {
                                    station: null,
                                    date: null,
                                    ph: null,
                                    AMMONIA: null,
                                    nitrate: null,
                                    phosphate: null,
                                    bod: null,
                                    dissolved: null,
                                    fecal: null,
                                    water_quality: null
                                }
                            } else {
                                this.onBack()
                            }
                        }
                    })

                },

                onBack() {
                    window.open('index.html', '_self')
                }
            }
        })

        $(document).ready(() => {
            header.onStart()
        })
    </script>

</body>

</html>