<html>

<head>
    <title>generate reports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/main-style.css" rel="stylesheet">
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/datahandler.js"></script>
    <script src="js/classifier.js"></script>
    <script src="js/regression.js"></script>
    <style>
        .input {
            width: 150px;
        }

        .btn {
            margin-bottom: 2px;
        }

        .input-label {
            margin-top: 5px;
        }

        .filter_div {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: start;
        }

        .filter_item {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: start;
        }

        .filter_item input {
            margin-right: 10px;
        }

        .input-select {
            width: 100%;
        }

        .button-container{  
            padding-top: 100px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">BFP admin (Reports/Generate Reports)</a>
            </div>
        </div>
    </nav>
    <div id='content' style="padding-top: 50px">
        <div class="container">
            <div class="section">
                <h2>Generate Reports</h2>

                <a href="#demo" data-toggle="collapse">Show Filter</a>

                <div id="demo" class="collapse">
                    <div class="filter-div row">
                        <!--  <div>
                                    <input type="radio" id="huey" name="drone" value="huey" checked>
                                    <label for="huey">Huey</label>
                                </div>-->
                        <div class="filter_item col-md-3" v-for="filter_type,index of filter_types">
                            <input type="radio" class="radio" :value="filter_type"
                                v-on:click="update_filter_list(filter_type)" :checked="getChecked(filter_type)">
                            <label :for="filter_type">{{filter_type}}</label>
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <div class="col col-md-3">
                        <p class="input-label">year</p>
                        <select id="input-type" class="input input-select" v-model="data_input.year">
                            <option v-for="(item,index) in map_report.year"
                                :selected="index == data_input.year ? true : false">{{item
                                ? item : "NOT AVAILABLE"}}</option>
                        </select>
                    </div>
                    <div class="col col-md-3">
                        <p class="input-label">month</p>
                        <select id="input-type" class="input input-select" v-model="data_input.month">
                            <option v-for="(item,index) in months" :selected="index == data_input.month ? true : false">
                                {{item}}</option>
                        </select>
                    </div>


                    <div class="col col-md-3">
                        <p class="input-label">weekday</p>
                        <select id="input-type" class="input input-select" v-model="data_input.day">
                            <option v-for="(item,index) in map_report.day"
                                :selected="index == data_input.day ? true : false">{{item
                                ? item : "NOT AVAILABLE"}}</option>
                        </select>
                    </div>

                    <div class="col col-md-3">
                        <p class="input-label">district</p>
                        <select id="input-district" class="input input-select" v-model="data_input.district">
                            <option v-for="(item,index) in districts"
                                :selected="index == data_input.district ? true : false">{{item}}</option>
                        </select>
                    </div>

                </div>


                <div class="button-container">
                    <button type="button" id="add-report" class="btn btn-success button-view"
                        v-on:click="generateData()">generate
                        report
                    </button>
                    <button type="button" id="add-report" class="btn btn-success button-view"
                        v-on:click="download(true)">
                        download xls
                    </button>
                    <button type="button" id="add-report" class="btn btn-success button-view"
                        v-on:click="download(false)">
                        download pdf
                    </button>
                </div>

            </div>

            <!-- <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" v-for="item in display_header">
                                {{item}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in display_data">
                            <td scope="col" v-for="key in display_header">
                                {{item[key]}}
                            </td>
                        </tr>
                    </tbody>
                </table> -->

            <div class="section" v-for="table in table_group"
                style="width: 100%; height: 500px; border: solid 1px lightgray; margin-bottom: 100px; overflow: auto">
                <h1>{{table.title}}</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" v-for="item in table.header">
                                {{item}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in table.data">
                            <td scope="col" v-for="key in table.header">
                                {{item[key]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        var vue_app = new Vue({
            el: '#content',
            data: {
                data: [],
                map_report: {},
                type: ['all', 'cause', 'establishment_type', 'alarm_level'],
                data_input: {
                    day: null,
                    year: null,
                    month: null,
                    district: null
                },
                districts: [
                    'all',
                    'Sampaloc',
                    'Tondo',
                    'Ermita',
                    'Paco',
                    'Port Area',
                    'Pandacan',
                    'Santa Ana',
                    'Santa Cruz',
                    'Quiapo',
                    'San Miguel',
                    'Binondo',
                    'San Andres',
                    'Malate',
                    'Intramuros',
                    'San Nicolas',
                    'Santa Mesa',
                    'NOT AVAILABLE',
                ],
                filter_types: [
                    'TIME',
                    'DATE',
                    'MONTH',
                    'YEAR',
                    'DAY',
                    'DISTRICT',
                    'CAUSE',
                    'ESTABLISHMENT',
                    'ALERT_LEVEL',
                    'LATITUDE',
                    'LONGITUDE',
                    'AMOUNT_OF_DAMAGE',
                    'COMPLETE_ADDRESS',
                    'FATALITY',
                    'INJURED'
                ],
                months: [
                    'all',
                    'JANUARY',
                    'FEBRUARY',
                    'MARCH',
                    'APRIL',
                    'MAY',
                    'JUNE',
                    'JULY',
                    'AUGUST',
                    'SEPTEMBER',
                    'OCTOBER',
                    'NOVEMBER',
                    'DECEMBER',
                    'NOT AVAILABLE',
                ],


                filter_added: [],

                display_data: [],
                display_header: [],

                table_group: [],

                title: null
            },
            methods: {
                setData(data, map_report) {
                    this.data = data
                    this.map_report = map_report

                    this.map_report.year = this.map_report.year.sort()

                    console.log(this.map_report)
                },

                update_filter_list(value) {
                    console.log("entered %o", value)
                    let filter_index = this.filter_added.indexOf(value)
                    if (filter_index !== -1) {
                        this.filter_added.splice(filter_index, 1)
                    } else {
                        this.filter_added.push(value)
                    }
                },

                getChecked(value) {
                    return this.filter_added.includes(value)
                },

                filter_list(data) {
                    this.filter_types.map((key) => {
                        if (!this.filter_added.includes(key)) {
                            console.log('removing %o', key)
                            data = data.map((item) => {
                                if (item) {
                                    delete item[key]
                                }
                                return item
                            })
                        }
                    })
                    return data
                },


                generateData() {
                    let data = this.data
                    var title = ""
                    if (this.data_input.day != 'all' && this.data_input.day != null) {
                        let filter_day = this.data_input.day
                        console.log(filter_day)
                        data = data.filter((item) => {
                            return (item.DAY != null) ? item.DAY.toLowerCase().includes(filter_day
                                    .toLowerCase()) :
                                false
                        })
                        title += filter_day + "_"
                    }

                    if (this.data_input.year != 'all' && this.data_input.year != null) {
                        let filter_year = this.data_input.year
                        console.log(filter_year)
                        data = data.filter((item) => {
                            return (item.YEAR != null) ? item.YEAR.includes(filter_year) : false
                        })
                        title += filter_year + "_"
                    }
                    if (this.data_input.month != 'all' && this.data_input.month != null) {
                        let filter_month = this.data_input.month
                        console.log(filter_month)
                        data = data.filter((item) => {
                            return (item.MONTH != null) ? item.MONTH.toLowerCase().includes(
                                filter_month.toLowerCase()) : false
                        })
                        title += filter_month + "_"
                    }
                    if (this.data_input.district != 'all' && this.data_input.district != null) {
                        let filter_district = this.data_input.district
                        console.log(filter_district)
                        data = data.filter((item) => {
                            return (item.DISTRICT != null) ? item.DISTRICT.toLowerCase().includes(
                                filter_district.toLowerCase()) : false
                        })
                        title += filter_district
                    }

                    console.log(data)

                    if (data.length > 0) {
                        var filtered_data = data

                        this.table_group.push(this.createReport1(data))
                        this.table_group.push(this.createReport2(data))
                        this.table_group.push(this.createReport3(data))
                        this.table_group.push(this.createReport4(data))

                        if (this.filter_added.length > 0) {
                            /* data = this.filter_list(data) */

                            filtered_data = this.filter_list(data)
                            console.log('filtered %o', data)
                        }



                        this.table_group.push({
                            header: Object.keys(data[0]),
                            data: filtered_data,
                            title: title + 'report'
                        })
                    }


                },


                createReport1(data) {
                    let establishment_type = ['Residential', 'Vehicle', 'Unclear', 'Rubbish', 'Commercial',
                        'Electrical', 'Chemical', 'ReCom', 'Building', 'Grass fire', 'Others'
                    ]
                    let district = {

                    }
                    data.map((item) => {
                        if (district[item.DISTRICT]) {
                            district[item.DISTRICT].data.push(item)
                        } else {
                            district[item.DISTRICT] = {
                                data: [item],
                            }
                        }
                    })

                    Object.keys(district).map(key => {
                        district[key].establishment = {}
                        for (var i = 0; i < establishment_type.length - 1; i++) {
                            district[key].establishment[establishment_type[i]] = {
                                count: 0
                            }
                        }

                        let others = district[key].data.filter((item) => {
                            for (var i = 0; i < establishment_type.length - 1; i++) {
                                if (item.ESTABLISHMENT == establishment_type[i]) {

                                    if (district[key].establishment[establishment_type[i]]) {
                                        district[key].establishment[establishment_type[i]]
                                            .count++
                                    } else {
                                        district[key].establishment[establishment_type[i]] = {
                                            count: 1
                                        }

                                    }
                                    return false
                                }
                            }
                            return true
                        })

                        district[key].establishment['Other'] = {
                            count: others.length
                        }

                    })

                    console.log("establishment type %o", district)


                    let data_table = Object.keys(district).map((key) => {
                        var object = {
                            District: key,
                        }

                        Object.keys(district[key].establishment).map(establishment => {
                            object[establishment] = district[key].establishment[establishment]
                                .count ||
                                0
                        })
                        object['Total'] = district[key].data.length
                        return object
                    })

                    let header_table = Object.keys(data_table[0])

                    return {
                        header: header_table,
                        data: data_table,
                        title: 'Establishment Type'
                    }
                },

                createReport2(data) {
                    let alert_level_type = ['1st Alarm', '2nd Alarm', '3rd Alarm', 'Other']
                    let district = {

                    }
                    data.map((item) => {
                        if (district[item.DISTRICT]) {
                            district[item.DISTRICT].data.push(item)
                        } else {
                            district[item.DISTRICT] = {
                                data: [item],
                            }
                        }
                    })

                    Object.keys(district).map(key => {
                        district[key].alert_levels = {}
                        for (var i = 0; i < alert_level_type.length - 1; i++) {
                            district[key].alert_levels[alert_level_type[i]] = {
                                count: 0
                            }
                        }

                        let others = district[key].data.filter((item) => {
                            for (var i = 0; i < alert_level_type.length - 1; i++) {
                                if (item.ALERT_LEVEL == alert_level_type[i]) {

                                    if (district[key].alert_levels[alert_level_type[i]]) {
                                        district[key].alert_levels[alert_level_type[i]].count++
                                    } else {
                                        district[key].alert_levels[alert_level_type[i]] = {
                                            count: 1
                                        }

                                    }
                                    return false
                                }
                            }
                            return true
                        })

                        district[key].alert_levels['Other'] = {
                            count: others.length
                        }

                    })

                    console.log("establishment type %o", district)


                    let data_table = Object.keys(district).map((key) => {

                        var object = {
                            District: key
                        }

                        Object.keys(district[key].alert_levels).map(alert_level_key => {
                            object[alert_level_key] = district[key].alert_levels[
                                    alert_level_key].count ||
                                0
                        })

                        object['Total'] = district[key].data.length

                        return object
                    })

                    let header_table = Object.keys(data_table[0])


                    return {
                        header: header_table,
                        data: data_table,
                        title: 'Alert Level'
                    }
                },

                createReport3(data) {
                    let causes_type = ['Firecracker',
                        'Electrical connection',
                        'LPG Leak',
                        'Gas',
                        'Keresone',
                        'Charcoal Stove',
                        'Under Investigation',
                        'Cigarette Butt',
                        'Arson',
                        'Candle',
                        'Air-conditioned Fire/Air-cooler/Fan',
                        'Matress Fire',
                        'Open flame',
                        'Electrical Appliances',
                        'flat iron',
                        'Acetylene',
                        'Alcohol Lamp Fire',
                        'Welding',
                        'Battery-related / Cellphone / Charger',
                        'Chimney Fire',
                        'Spontaneous combustion',
                        'Christmas light'
                    ]
                    let district = {

                    }
                    data.map((item) => {
                        if (district[item.DISTRICT]) {
                            district[item.DISTRICT].data.push(item)
                        } else {
                            district[item.DISTRICT] = {
                                data: [item],
                            }
                        }
                    })

                    Object.keys(district).map(key => {
                        district[key].causes = {}
                        for (var i = 0; i < causes_type.length - 1; i++) {
                            district[key].causes[causes_type[i]] = {
                                count: 0
                            }
                        }

                        let others = district[key].data.filter((item) => {
                            for (var i = 0; i < causes_type.length - 1; i++) {
                                try {
                                    if (item.CAUSE.toLowerCase().indexOf(causes_type[i]
                                            .toLowerCase()) !==
                                        -1 ||
                                        causes_type[i].toLowerCase().indexOf(item.CAUSE
                                            .toLowerCase()) !==
                                        -1) {

                                        if (district[key].causes[causes_type[i]]) {
                                            district[key].causes[causes_type[i]].count++
                                        } else {
                                            district[key].causes[causes_type[i]] = {
                                                count: 1
                                            }

                                        }
                                        return false
                                    }
                                } catch {

                                }

                            }
                            return true
                        })

                        district[key].causes['Other'] = {
                            count: others.length
                        }

                    })

                    console.log("establishment type %o", district)


                    let data_table = Object.keys(district).map((key) => {

                        var object = {
                            District: key
                        }

                        Object.keys(district[key].causes).map(cause_key => {
                            object[cause_key] = district[key].causes[
                                    cause_key].count ||
                                0
                        })

                        object['Total'] = district[key].data.length

                        return object
                    })
                    console.log(data_table)
                    let header_table = Object.keys(data_table[0])

                    return {
                        header: header_table,
                        data: data_table,
                        title: 'Causes'
                    }
                },

                createReport4(data) {
                    let establishment_type = {
                        'Residential': {
                            data: []
                        },
                        'Vehicle': {
                            data: []
                        },
                        'Unclear': {
                            data: []
                        },
                        'Rubbish': {
                            data: []
                        },
                        'Commercial': {
                            data: []
                        },
                        'Electrical': {
                            data: []
                        },
                        'Chemical': {
                            data: []
                        },
                        'ReCom': {
                            data: []
                        },
                        'Building': {
                            data: []
                        },
                        'Grass fire': {
                            data: []
                        },
                        'Others': {
                            data: []
                        }
                    }

                    let causes_type = ['Firecracker',
                        'Electrical connection',
                        'LPG Leak',
                        'Gas',
                        'Keresone',
                        'Charcoal Stove',
                        'Under Investigation',
                        'Cigarette Butt',
                        'Arson',
                        'Candle',
                        'Air-conditioned Fire/Air-cooler/Fan',
                        'Matress Fire',
                        'Open flame',
                        'Electrical Appliances',
                        'flat iron',
                        'Acetylene',
                        'Alcohol Lamp Fire',
                        'Welding',
                        'Battery-related / Cellphone / Charger',
                        'Chimney Fire',
                        'Spontaneous combustion',
                        'Christmas light'
                    ]

                    data.map((item) => {
                        if (establishment_type[item.ESTABLISHMENT]) {
                            establishment_type[item.ESTABLISHMENT].data.push(item)
                        } else {
                            establishment_type['Others'].data.push(item)
                        }
                    })


                    Object.keys(establishment_type).map(key => {
                        establishment_type[key].causes = {}
                        for (var i = 0; i < causes_type.length - 1; i++) {
                            establishment_type[key].causes[causes_type[i]] = {
                                count: 0
                            }
                        }

                        let others = establishment_type[key].data.filter((item) => {
                            for (var i = 0; i < causes_type.length - 1; i++) {
                                try {
                                    if (item.CAUSE.toLowerCase().indexOf(causes_type[i]
                                            .toLowerCase()) !==
                                        -1 ||
                                        causes_type[i].toLowerCase().indexOf(item.CAUSE
                                            .toLowerCase()) !==
                                        -1) {

                                        if (establishment_type[key].causes[causes_type[i]]) {
                                            establishment_type[key].causes[causes_type[i]]
                                                .count++
                                        } else {
                                            establishment_type[key].causes[causes_type[i]] = {
                                                count: 1
                                            }

                                        }
                                        return false
                                    }
                                } catch {

                                }

                            }
                            return true
                        })

                        establishment_type[key].causes['Other'] = {
                            count: others.length
                        }

                    })

                    console.log("establishment type %o", establishment_type)


                    let data_table = Object.keys(establishment_type).map((key) => {

                        var object = {
                            District: key
                        }

                        Object.keys(establishment_type[key].causes).map(cause_key => {
                            object[cause_key] = establishment_type[key].causes[
                                    cause_key].count ||
                                0
                        })

                        object['Total'] = establishment_type[key].data.length

                        return object
                    })
                    console.log(data_table)
                    let header_table = Object.keys(data_table[0])


                    return {
                        header: header_table,
                        data: data_table,
                        title: 'Causes and type of Establishment involved'
                    }
                },

                download(isXls) {
                    if (this.table_group.length > 0) {
                        this.table_group.map(table => {
                            if (isXls) {
                                ExportExcel(table.data, table.title)
                            } else {
                                JSONToCSVConvertor(table.data, table.title, true);
                            }
                        })

                    } else {
                        alert('no data available')
                    }
                }
            }
        })

        function cleanData(type, data) {

            if (type == 'alarm_level') {
                data = data.map((item) => {
                    delete item.cause
                    delete item.establishment_type
                    return item
                })
            } else if (type == 'cause') {
                data = data.map((item) => {
                    delete item.alarm_level
                    delete item.establishment_type
                    return item
                })
            } else {
                data = data.map((item) => {
                    delete item.cause
                    delete item.alarm_level
                    return item
                })
            }
            console.log(data)
            return data
        }

        var map_report = {
            month: [],
            year: [],
            cause: [],
            alarm: [],
            temp: [],
            type: [],
            district: [],
            day: [],
            date: []
        }

        function generateMap(key, data) {
            if (map_report[key].includes(data)) {
                return
            } else {
                map_report[key].push(data)
            }
        }

        function onHandleData(data) {
            new Promise((resolve, reject) => {
                console.log(data)
                generateMap("day", "all")
                generateMap("year", "all")
                data.map(element => {
                    generateMap("date", element.DATE)
                    generateMap("cause", element.CAUSE)
                    generateMap("alarm", element.ALERT_LEVEL)
                    generateMap("year", element.YEAR)
                    generateMap("day", element.DAY)
                    //generateMap("temp", element.temperature)
                    generateMap("type", element.ESTABLISHMENT)
                    generateMap("district", element.DISTRICT)
                })

                var filter_data = data.filter((item) => {
                    return (user.type == 'Admin' || item.USERID == user.id)
                })

                if (filter_data.length > 0) {
                    filter_data = filter_data.map((item) => {
                        delete item['COMPLETE_ADDRESS']
                        delete item['FATALITY']
                        delete item['INJURED']
                        return item
                    })
                }

                console.log(map_report)
                resolve(filter_data)
            }).then((filter_data) => {
                console.log(filter_data)
                vue_app.setData(filter_data, map_report)
            })

        }
    </script>
    <script>
        var user = null
        var header = new Vue({
            el: '#header',
            methods: {
                onStart() {
                    user = JSON.parse(sessionStorage.getItem('user'))
                    console.log(user)

                    if (user) {
                        console.log('success')
                        getReports(true, onHandleData)
                    } else {
                        alert('login user account')
                        this.onLogout()
                    }
                },
                onLogout() {
                    sessionStorage.removeItem('user')
                    window.open('login.html', '_self')
                }
            }
        })

        header.onStart()
    </script>
    <script type="text/javascript">
        function JSONToCSVConvertor(JSONData, ReportTitle, ShowLabel) {
            console.log(JSONData)
            //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
            var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;

            var CSV = '';
            //Set Report title in first row or line

            CSV += ReportTitle + '\r\n\n';

            //This condition will generate the Label/Header
            if (ShowLabel) {
                var row = "";

                //This loop will extract the label from 1st index of on array
                for (var index in arrData[0]) {

                    //Now convert each value to string and comma-seprated
                    console.log(index)
                    try {
                        let text = index + ""
                        row += text.centerText(15) + ',';
                    } catch (err) {
                        row += (index + "").centerText(15) + ',';
                    }


                }

                row = row.slice(0, -1);

                //append Label row with line break
                CSV += row + '\r\n';
            }

            //1st loop is to extract each row
            for (var i = 0; i < arrData.length; i++) {
                var row = "";

                //2nd loop will extract each column and convert it in string comma-seprated
                for (var index in arrData[i]) {
                    var data
                    if (typeof arrData[i][index] == 'string') {
                        data = arrData[i][index] ? arrData[i][index] : ""
                        row += data.centerText(15) + ',';
                    } else {
                        data = arrData[i][index]
                        row += (data + '').centerText(15) + ','
                    }


                }

                row.slice(0, row.length - 1);

                //add a line break after each row
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                alert("Invalid data");
                return;
            }

            //Generate a file name
            var fileName = "BFPFireReport_";
            //this will remove the blank-spaces from the title and replace it with an underscore
            fileName += ReportTitle.replace(/ /g, "_");
            ExportPDF(CSV, fileName)
        }

        String.prototype.centerText = function (numberOfSpaces) {
            try {
                var text = this;
                text = text.trim();
                var l = text.length;
                var w2 = Math.floor(numberOfSpaces / 2);
                var l2 = Math.floor(l / 2);
                var s = new Array(w2 - l2 + 1).join(" ");
                text = s + text + s;
                if (text.length < numberOfSpaces) {
                    text += new Array(numberOfSpaces - text.length + 1).join(" ");
                }
                return text;
            } catch (err) {
                return this
            }
        };
    </script>

    <script src="js/xlsexport.js"></script>

    <script>
        function ExportExcel(data, title) {
            var xls = new XlsExport(data);
            xls.exportToXLS('BFPFireReport_' + title + '.xls');
        }

        function ExportPDF(data,fileName) {
            console.log("data %o",data)
            window.sessionStorage.setItem('pdfname', fileName)
            window.sessionStorage.setItem('pdftoprint', data)
            window.open('pdf_generate.html', '_blank')
        }
    </script>

</body>

</html>